@media (max-width: 1120px) {


    .custom_nav-container .form-inline input {
        display: none;
    }

}

@media (max-width: 992px) {
    .login_btn-contanier {
        margin: 15px 0;
    }

    .hero_area {
        height: auto;
        margin: auto;
    }

    .slider_section.position-relative {
        padding: 120px 0;
    }
}

@media (max-width: 768px) {

    .slider_section .carousel-control-prev,
    .slider_section .carousel-control-next {
        display: none;
    }

    .slider_section .img-box img{
        display: none;
    }

   
    .hero_area {
      
    
        background-image: url(../images/hero-bg.jpg);
        background-size: cover;
        background-position: center;
    

    }

    .slider_section .detail-box {
        margin-top: 20px;
        text-align: center;
    }

    .discount_section .detail-box {
        text-align: center;
    }

    .client_section .client_container {
        width: 95%;
    }

    .contact_section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact_section .detail-box {
        margin: 0 -15px;
        margin-top: 25px;
    }

    .info_section {
        text-align: center;
    }

    .info_section .row>div {
        margin: 25px 0;
    }

    .info_section .info_contact .box {
        justify-content: center;
    }

    .footer_section p {
        width: auto;
    }
}

@media (max-width: 576px) {
    .health_section .box {
        width: auto;
        margin-right: 5px;
    }

    .hero_area {
        margin: auto;
    }
}

@media (max-width: 480px) {

    .hero_area {
      
    
        background-image: url(../images/hero-bg.jpg);
        background-size: cover;
        background-position: center;
    

    }
}

@media (max-width: 420px) {

    .hero_area {
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
    }
}

@media (max-width: 360px) {
    .top_contact-container {
        display: none !important;
        width: auto;
    }

    .hero_area {
      
    
        background-image: url(../images/hero-bg.jpg);
        background-size: cover;
        background-position: center;
    

    }

    .slider_section .img-box img {
        width: 100%;

      }
      
      .slider_section .detail-box h1 {
        color: #2c2c2c;
        width: 100%;
        position: relative;
        margin: auto;
      }
      
      .slider_section .detail-box h1 span {
        font-size: 2rem;
        color: #ffffff;
        font-weight: bold;
        width: 100%;
        position: relative;
        margin: auto;
      }
      
      .slider_section .detail-box p {
        color: #ffffff;
        width: 100%;
        position: relative;
        margin: auto;
      }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        width: auto;
    }
}